---
import Layout from "../layouts/Layout.astro";
---

<Layout title="News | LAT-Petershagen">
    <div class="bg-orange-500 flex items-center justify-center h-32 text-white mx-0 md:mx-12 mt-8">
        <h1 class="text-4xl">News</h1>
    </div>
    <div class="h-screen"></div>

</Layout>