---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Team | LAT-Petershagen">
    <div class="bg-orange-500 flex items-center justify-center h-32 text-white mx-12 mt-8">
        <h1 class="text-xl md:text-4xl">Team</h1>
    </div>
    <div class="h-screen"></div>

</Layout>
