<div class="flex flex-col justify-between border-2 p-2 rounded-xl text-center shadow-md">
    <div class="bg-orange-500 rounded-md text-2xl text-white p-4">
      <slot name="title" />
    </div>
      <slot />
  </div>