---
const { title, url, link } = Astro.props;
---

<a href={url} title={title} class="ease-in-out flex flex-col items-center justify-center duration-300 hover:bg-orange-500 text-white md:text-black h-12 md:h-16 px-2">
  {link}
</a>