---
import NavigationLink from "./NavigationLink.astro";
---

<div class="fixed bottom-0 container md:hidden">
  <nav
    class="bg-slate-300 dark:bg-slate-600 border-dark dark:border-light h-12 flex justify-between items-center px-2 text-xs"
  >
    <NavigationLink />
  </nav>
</div>